/* Example: Overriding Navbar Brand */
.navbar-brand {
  font-family: "Bodoni Moda", serif; /* Apply the font */
  font-size: 2rem;
  font-weight: 600; /* Semi-Bold for emphasis */
  color: #d4a373 !important; /* Gold-like color */
  letter-spacing: 2px; /* Add spacing between letters for elegance */
  text-transform: uppercase; /* Ensure the title is all uppercase */
}

/* Change background color */
.navbar {
  background-color: #28362d !important;
}
